[submodule "Team-Quaver/QQMusicApi"]
	path = vendor/QQMusicApi
	url = https://github.com/Team-Quaver/QQMusicApi
	shallow = true

[submodule "Team-Quaver/quaver-typhoeus"]
	path = vendor/Typhoeus
	url = https://github.com/Team-Quaver/quaver-typhoeus
	shallow = true
[submodule "Team-Quaver/Sparkle"]
	path = vendor/Sparkle
	url = https://github.com/Team-Quaver/quaver-sparkle
	shallow = true
